<!DOCTYPE html>
<html>
<head>
  <title>Erato Puzzle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-puzzle-piece"></i> ERATO Puzzles</a>
      </div>

      <% if current_user %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/">Stats</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="<%= session_url %>" class="btn-sign btn btn-default" role="button">Sign Out</a></li> -->

            <li class="btn-sign"><%= button_to 'Sign Out', session_url, method: :delete %></li>

            <!-- <li class="btn-sign"><%= button_to 'Sign In', new_session_url %></li> -->

          <!-- <li><button href="<%= session_url %>" type="button" class="btn btn-default navbar-btn btn-sign" formmethod="DELETE">Sign Out</button></li> -->
          <!-- <li><a href="/session/new" class="btn btn-default navbar-btn button">Sign Out</a></li> -->
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li> -->
        </ul>
          <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% if current_user %>
    Welcome, <%= current_user.username %>
  <% end %>

  <!-- <%= current_user.username if current_user %> -->

  <%= render 'layouts/errors' %>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
