<!DOCTYPE html>
<html>
<head>
  <title>Crossword</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <%= current_user.username if current_user %>

  <%= render 'layouts/errors' %>

  <% if current_user %>
    <%= button_to 'Sign Out', session_url, method: :delete %>
  <% else %>
    <%= link_to 'Sign Up', new_user_url %> or
    <%= link_to 'Sign In', new_session_url %>
  <% end %>

<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
